<h1>New version of <%= @extension_version.name %> released.</h1>
<p>A new version of <%= @extension_version.name %> has been released [<%= @extension_version.version %>].</p>
<%= link_to 'View Version', extension_version_url(@extension_version.extension, @extension_version), class: 'button accept' %>

<div class="changelog">
  <% if @extension_version.changelog.present? %>
    <h2 class="title">Changelog</h2>
    <%= HTML_Truncator.truncate(render_document(@extension_version.changelog, @extension_version.changelog_extension), 30, ellipsis: '').html_safe %>

    <%= link_to 'View Full Changelog', extension_version_url(@extension_version.extension, @extension_version, anchor: 'changelog'), class: 'button accept' %>
  <% end %>
</div>

<%= link_to 'Unsubscribe', unsubscribe_url(@email_preference) %>
