<% extensions.each do |e| %>
  <div class="row featured-extension">
    <div class="small-2 columns">
      <%= link_to gravatar_for(e.owner, size: 64), e.owner %>
    </div>
    <div class="small-10 columns">
      <header>
        <%= link_to e.name, owner_scoped_extension_url(e) %>
        <span><%= e.latest_extension_version.try(:version) %></span>
      </header>
      <p><%= e.description %></p>
      <p class="tags">
        <% e.tags.each do |t| %>
          <%= link_to t.name, extensions_path(q: t.name) %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="small-10 small-offset-2 columns">
    <p><%= link_to "View All&hellip;".html_safe, extensions_path %></p>
  </div>
</div>
