<div class="main" data-equalizer-watch>
  <% if extension.deprecated? %>
    <div class="deprecation-notice">
      <h2 class="deprecation-copy">
        <% if extension.replacement.present? %>
          <i class="fa fa-exclamation-triangle"></i> <%= extension.name %> has been deprecated in favor of <%= link_to extension.replacement.name, extension.replacement %>
        <% else %>
          <i class="fa fa-exclamation-triangle"></i> <%= extension.name %> has been deprecated
        <% end %>
      </h2>
    </div>
  <% end %>

  <small class="rss">
    <%= link_to extension_path(extension, format: 'atom'), class: 'rss_feed_link' do %>
      <i class="fa fa-rss"></i> RSS
    <% end %>
  </small>
  <h1 class="heading">
    <span itemprop="name"><%= extension.name %></span>
    <small class="version_dropdown">
      <%= link_to '#', 'data-dropdown' => 'versions', class: 'button radius tiny dropdown secondary', rel: 'extension_versions' do %>
        <span class="versions_count">
          <%= pluralize "(#{extension_versions.count})", 'Version' %>
        </span>
        <%= version.try(:version) %>
      <% end %>
      <ul id="versions" data-dropdown-content class="f-dropdown">
        <li>
          <ul>
            <% extension_versions.each do |extension_version| %>
              <li>
                <%= link_to extension_version_path(extension, extension_version), rel: 'extension_version' do %>
                  <%= extension_version.version %>
                  <% if extension_version == version %><i class="fa fa-check right"></i><% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </small>

    <%= render 'extensions/follow_button_show', extension: @extension %>
  </h1>

  <p itemprop="description"><%= extension.description %></p>

  <dl class="tabs" data-tab data-options="deep_linking:true">
    <dd class="active"><a href="#readme">README</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="readme">
      <%= render_document(version.try(:readme) || "", version.try(:readme_extension) || "") %>
    </div>
  </div>
</div>
