<%= provide(:title, "Extensions Directory") %>
<%= provide(:description, "Browse and search ManageIQ extensions. Learn how to use and create extensions for configuring your infrastructure.") %>
<%= provide(:cta) do %>
  <p>Extend ManageIQ using add-ons and <%= link_to "share your own", new_extension_path %> with the community</p>
<% end %>

<div class="page nobg">
  <div class="row extensions-features">
    <div class="small-5 columns">
      <header>New &amp; updated</header>
      <%= render "featured", extensions: @recently_updated_extensions %>
    </div>
    <div class="small-5 columns">
      <header>Noteworthy</header>
      <%= render "featured", extensions: @most_downloaded_extensions %>
    </div>
    <div class="small-2 columns">
      <header>Categories</header>
      <ul>
        <% Tag.order("name").each do |t| %>
          <li><%= link_to t.name, extensions_path(q: t.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
