<%= provide(:title, "Add an Extension") %>

<div class="page resource extension_show">
  <div class="main">
    <h1 class="heading">Add an Extension</h1>

    <%= form_for @extension, html: { "data-abide" => true } do |f| %>
      <%= render "application/form_errors", record: @extension %>

      <fieldset id="" class="">
        <div class="name-field">
          <%= f.select :github_url_short, @repo_names.map { |r| r[:full_name] }, { include_blank: "Select a Repository" }, required: true, id: "extension-url-short-field", data: { repos: @repo_names } %>
          <small class="error">Name is required.</small>
          <%= f.hidden_field :github_url, id: "extension-url-field" %>
          <%= f.hidden_field :name, id: "extension-name-field" %>
        </div>
        <div class="description-field">
          <%= f.text_field :description, placeholder: "Description", title: "Description", required: true, id: "extension-desc-field" %>
          <small class="error">Description is required.</small>
        </div>
        <div class="tag_tokens-field">
          <%= f.text_field :tag_tokens, placeholder: "Tags", title: "Tags", class: "tokenfield", data: { autofill: Tag::DEFAULT_TAGS } %>
        </div>

        <h2>Compatible ManageIQ Versions</h2>
        <div class="compatible_platforms-field">
          <% SupportedPlatform.pluck(:name, :id).each do |name, id| %>
            <div>
              <label><%= f.check_box :compatible_platforms, { multiple: true }, id.to_s, nil %> <%= name %></label>
            </div>
          <% end %>
        </div>
      </fieldset>

      <%= f.submit "Add Extension", class: "button primary radius" %>
    <% end %>
  </div>
</div>
