<%= provide(:title, "Manage Profile") %>

<div class="page profile" data-equalizer>
  <%= render 'users/sidebar' %>

  <div class="main" data-equalizer-watch>
    <h1>Manage Profile</h1>

    <dl class="tabs radius" data-tab data-options="deep_linking:true">
      <dd class="active"><a href="#profile" rel="manage_profile">Edit Profile</a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="profile">
        <%= form_for(prep_email_preferences(current_user), url: profile_path, html: { 'data-abide' => true }) do |f| %>
          <%= render 'application/form_errors', record: current_user %>

          <p>Your email, password and name are maintained and managed by your GitHub account. <%= link_to "Edit them here.", "https://github.com/settings/profile", target: "_blank" %> They will be updated the next time you sign in to Extensions Depot. Avatars are powered by <%= link_to 'Github', 'https://www.github.com' %>.</p>

          <fieldset>
            <div class="company-field">
              <%= f.text_field :company, placeholder: 'Company', title: 'Company' %>
            </div>
            <div class="twitterusername-field">
              <%= f.text_field :twitter_username, placeholder: 'Twitter Username', title: 'twitter username' %>
            </div>
            <div class="ircnickname-field">
              <%= f.text_field :irc_nickname, placeholder: 'IRC Nickname', title: 'irc nickname' %>
            </div>
          </fieldset>
          <%= f.submit 'Update Profile', class: 'button primary radius' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
